<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dedan.digitalreceipts">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo1_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo1_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".Company"
            android:label="Company"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dedan.digitalreceipts.MainActivity" />
        </activity>
        <activity
            android:name=".CustomerAddEdit"
            android:parentActivityName=".CustomerActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dedan.digitalreceipts.CustomerActivity" />
        </activity>
        <activity
            android:name=".CustomerActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeNo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dedan.digitalreceipts.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeNo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".createReceipt"
            android:label="@string/create_receipt"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dedan.digitalreceipts.MainActivity" />
        </activity>
        <activity
            android:name=".homeActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeNo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dedan.digitalreceipts.MainActivity" />
        </activity>
        <activity
            android:name=".rcptList"
            android:label="ReceiptList"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeNo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dedan.digitalreceipts.MainActivity" />
        </activity>
        <activity
            android:name=".splash"
            android:theme="@style/AppThemeNo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".onBootReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".weekReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".monthReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".logIn"
            android:label="@string/LogIn"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Register"
            android:label="@string/register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".security"
            android:label="Security"
            android:parentActivityName=".createReceipt"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dedan.digitalreceipts.createReceipt" />
        </activity>

        <receiver
            android:name=".receiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".unit"
            android:label="Units"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeNo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dedan.digitalreceipts.MainActivity" />
        </activity>
        <activity android:name=".BTDeviceList" />
    </application>

</manifest>